.section {
    width: 600px;
}

.componentsList {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 415px);
}

.unlockedComponents {
    /*composes: componentsList;*/
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    overflow-y: scroll;
}

.component {
    display: flex;
    align-items: center;
    gap: 8px;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-self: end;
}

.total {
    display: flex;
    align-items: center;
}